{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}
{% load build_absolute_uri from urls %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load get_calendar from calendar %}


{% block title %}
О Доставке
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
      <li>
        <a href="{% url 'page:about_shipping' %}"> О Доставке </a>
      </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}

<h2 class="text-center">Информация о доставке</h2> <br>
<div class="row">
  <div class="col-md-8 offset-md-2 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> <b>Время Доставки:</b></h3>
        Доставка осуществляеться периодически в заданный вами день недели в 3-х интервалах времени:
        <ul>
          <li>
            <i> 10:00-13:00 </i>          </li>
          <li>
                <i>14:00 - 17:00</i>          </li>
          <li>
              <i>18:00-21:00</i>          </li>
        </ul>
       
      </div>
    </div> <br>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> <b>Период Доставки:</b></h3>
        Доставка осуществляеться в 4-х периодах:
        <ul>
          <li>
            <i> Недельный </i>          </li>
          <li>
                <i>2-х недельный</i>          </li>
          <li>
              <i>Месячный</i>          </li>
         <li>
              <i>2-x месячный</i>          </li>
        </ul>
       
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> <b>Цены:</b></h3>
        <ul>
          <li>
            <i> БЕСПЛАТНО, при заказе на сумму больше 1000грн </i>          </li>
          <li>
                <i>39грн, при заказе на сумму больше 500грн</i>          </li>
          <li>
              <i>69грн, при заказе на сумму меньше 500грн</i>          </li>
        </ul>
       
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"> <b>Ограничения:</b></h3>
        <ul>
          <li>
            <i>При самой первом оформлении подписки, подписка вступает в силу только через 3 дня <br>
              ( время для формирования заказа) </i>          </li>
          <li>
                <i>Редактировать подписку имеет смысл за 2 дня до доставки <br>
                  (до формирования поссылки на складе)</i>          </li>
        </ul>
       
      </div>
    </div>
    <br>
    <div class="text-center">
      <a style="margin:10px" href="{% url 'home' %}" class="btn primary">Обратно к Каталогу</a>
    </div>
  </div>
  <!--<div class="col-md-6 col-xs-12">
    <div class="card">
      <div id="card-header-schedule" class="card-header checkout__review text-center">
        <ul class="nav nav-pills card-header-pills">
          <li value="week" class="nav-item">
            <a class="nav-link" href="#">week</a>
          </li>
          <li value="2_weeks" class="nav-item">
            <a class="nav-link active" href="#">2 weeks</a>
          </li>
          <li value="month" class="nav-item">
            <a class="nav-link" href="#">1 month</a>
          </li>
          <li value="2_month" class="nav-item">
            <a class="nav-link" href="#">2 month</a>
          </li>
        </ul>
      </div>
     <div class="card-body">
        <h3 class="card-title text-center">Ваше расписание доставок 2018</h3>
        <div class="calendar">
            <div class="group header">
              <p class="left pointer minusmonth">&laquo;</p>
              <p class="left monthname center pointer"></p>
              <p class="right pointer addmonth">&raquo;</p>
            </div>
            <ul class="group">
              <li>su</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>mo</li>
            </ul>
          </div>  
     </div>
       
    </div>
      
  </div>
  <div class="col-md-3 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">shipping note</h3>
         <p><span style="color: red">&#9633;</span> - means week shippment</p>
         <p> <span style="color: blue">&#9633;</span> - means 2 weeks shippment</p>
         <p> <span style="color:green">&#9633;</span> - means month shippment</p>
        </div>
      </div>
    </div>-->
<div id="week_day" value='{{ day }}' class="d-none">
</div>
<div id="created" value='{{ placed }}' class="d-none">
  
</div>
</div>

{% endblock %}