{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}
Faq
{% endblock %}


{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
      <li>
        <a href="{% url 'page:faq' %}"> Faq </a>
      </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<h1> Часто Задаваемые Вопросы </h1>
    <!-- FAQ
     ================================================== -->
    <div class="container" style="padding-top: 2em;">

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link faq-card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Как пользоваться сервисом?
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Вы можете посмотреть как оформлять подписку по ссылке <a href="#">КАК ПОЛЬЗОВАТЬСЯ?</a> (с картинками).
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link faq-card-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Как происходит оплата?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
               Оплата производиться наличными курьеру при получении посылки
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link faq-card-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Как можно съэкономить?
                </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Есть несколько способов: <br> 1) - заполнить подписку всеми необходимыми товарами на сумму больше, чем 600грн, чтобы получить бесплатную доставку. <br> 2) - В обратном случае, можно оформить подписку на один адрес с содедями, что позволит увеличить общую сумму для получения бесплатной доставки. 
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}