﻿<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load shop %}
{% load placeholder %}
{% load translate_url from urls %}
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>GoodSub Homepage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->

   
   
   <link rel="stylesheet" href="{% static "homepage/css/base.css" %}">
    <link rel="stylesheet" href="{% static "homepage/css/vendor.css" %}">
    <link rel="stylesheet" href="{% static "homepage/css/main.css" %}">


    <!-- script
   ================================================== -->
    <script src="{% static "homepage/js/modernizr.js" %}"></script>
    <script src="{% static "homepage/js/pace.min.js" %}"></script>

    <!-- favicons
	================================================== -->
   <!-- <link rel="shortcut icon" href="{% static "homepage/images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "homepage/images/favicon.ico" %}" type="image/x-icon">-->
    
    <!-- google font pt sans
	================================================== -->
  

</head>

<body id="top">

    <!-- header 
   ================================================== -->
   <header id="header" class="row">   

   		<div class="header-logo">
	        <a href="index.html">GoodSub</a>
	    </div>

	   	<nav id="header-nav-wrap">
			<ul class="header-main-nav">
				<li class="current"><a class="smoothscroll"  href="#home" title="home">Главная</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">О Проекте</a></li>
				<li><a class="smoothscroll"  href="#pricing" title="pricing">Доставка</a></li>
				<li><a class="smoothscroll"  href="#products" title="testimonials">Популярные Товары</a></li>
				<li><a class="smoothscroll"  href="#faq" title="download">Вопросы</a></li>	
			</ul>

            <a href="{% url "account:login" %}" title="sign-up" class="btn btn-primary cta">Вход</a>
		</nav>

		<a class="header-menu-toggle" href="#"><span>Menu</span></a>    	
   	
   </header> <!-- /header -->


   <!-- home
   ================================================== -->
   <section id="home" data-parallax="scroll" data-image-src="{% static "homepage/images/hero-bg.jpg" %}" data-natural-width=3000 data-natural-height=2000>

        <div class="overlay"></div>
        <div class="home-content">        

            <div class="row contents">                     
                <div class="home-content-left">

                    <h3 data-aos="fade-up">Welcome to GoodSub</h3>

                    <h1 data-aos="fade-up">
                        Сервис Регулярной Доставки - GoodSub <br>
                    </h1>

                    <div class="buttons" data-aos="fade-up">
                        <a href="{% url "home" %}" class="smoothscroll button stroke">
                            <span class="icon-circle-down" aria-hidden="true"></span>
                            Каталог
                        </a>
                        <a href="{% url "account:login" %}" data-lity class="button stroke">
                            <span class="icon-play" aria-hidden="true"></span>
                            Регистрация
                        </a>
                    </div>                                         
                  <!--  <a href="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=39b54a" data-lity class="button stroke">-->

                </div>

                
            </div>

        </div> <!-- end home-content -->

       <!-- <ul class="home-social-list">
            <li>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </li>
        </ul> -->
        <!-- end home-social-list -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Листай Вниз</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->  

    
    <!-- about
    ================================================== -->
    <section id="about">

        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">О Нашем Сервисе</h1>
            </div>
            <div class="col-eight">
                <p class="lead" data-aos="fade-up">
                    <!-- Excepteur enim magna veniam labore veniam sint. Ex aliqua esse proident ullamco voluptate. Nisi nisi nisi aliqua eiusmod dolor dolor proident deserunt occaecat elit Lorem reprehenderit. Id culpa veniam ex aliqua magna elit pariatur do nulla. Excepteur enim magna veniam labore veniam sint.-->
                    Наш сервис предоставляет удобные услуги регулярной доставки продуктов на дом по низким ценам. <br> Если вам надоело каждый день тратить время и силы на покупку однообразных товаром, то мы можем помочь автоматизировать этот процесс дешево!
                </p>
            </div>                       
            
        </div>

        <div class="row about-how">
          
                <h1 class="intro-header" data-aos="fade-up">Как Это Работает?</h1>           
    
                <div class="about-how-content text-center" data-aos="fade-up">
    
                        <div class="row" data-aos="fade-up">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-user"></span></p>
                                <h3>Зарегистрируйтесь</h3>
                                <p>
                                    Это займет несколько минут! Управляйте подписками из своего личного кабинета. 
                                </p> 
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-shopping-cart"></span></p>
                                <h3>Выберите товар</h3>
                                <p>
                                    Выбирайте необходимые Вам товары из нашего ассоритмента. Ассортимент товаров постоянно дополняется и тщательно проверяется нашими сотрудниками.
                                </p>
                            </div>  
                        </div>             

                        <div class="row" data-aos="fade-up">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-calendar"></span></p>
                                <h3>Выберите частоту доставки</h3>
                                <p>
                                    Подписки могут быть: недельные, 2-х недельные, месячные и 2-х месячные.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-time"></span></p>
                                <h3>Вы решаете когда</h3>
                                <p>
                                    Указывайте удобное для Вас время доставки.
                                </p>
                            </div>
                        </div>      

                        <div class="row" data-aos="fade-up">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-send"></span></p>
                                <h3>Регулярно получайте доставку</h3>
                                <p>
                                    Мы напомним Вам за несколько дней до доставки.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-wrench"></span></p>
                                <h3>Корректируйте подписку</h3>
                                <p>
                                    Вы можете менять состав подписки, время доставки. Также вы можете отказаться от подписки.
                                </p>
                            </div>
                        </div>      

                        <div class="row" data-aos="fade-up">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p class="icons"><span class="glyphicon glyphicon-edit"></span></p>
                                <h3>Используй генератор подписки</h3>
                                <p>
                                    Мы составим для Вас подписку, учитывая частоту доставки и Ваш образ жизни.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6" data-aos="fade-up">
                                <p class="icons"><span class="glyphicon glyphicon-heart"></span></p>
                                <h3>Радуйтесь!</h3>
                                <p>
                                    Наслаждайтесь свободным временем, займитесь Вашим любимым хобби.
                                </p>
                            </div>
                        </div>
                    <div class="row" data-aos="fade-up">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h3>Есть вопросы?</h3>
                            <a class="btn btn-primary" href="{% url "page:faq" %}">FAQ</a>
                        </div>
                    </div>
               </div> <!-- end about-how-content -->
                <br><br>

        <div class="about-features text-center">
                <h1 class="intro-header" data-aos="fade-up">В Чем Преимущества?</h1> 

            <div class="row" data-aos="fade-up">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-usd"></span></p>
                    <h3>Экономьте деньги</h3>
                    <p>
                        Цены ниже чем в супермаркете. Дешевая доставка.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-dashboard"></span></p>
                    <h3>Экономьте время и силы</h3>
                    <p>
                        В среднем, из 63-х прожитых лет, 2 года и 11 месяцев проживаются в магазинах. Почему бы не перебраться в интернет и потратить это время на Ваши любимые занятия?
                    </p>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-lock"></span></p>
                    <h3>Забудьте про тяжелые сумки</h3>
                    <p>
                        Выбирайте доставку на дом, и наш курьер позаботиться о качественной и своевременной доставке Вашей подписки.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-search"></span></p>
                    <h3>Планируйте семейный бюджет</h3>
                    <p>
                        С нами вы можете планировать семейный бюджет, что приведет к исполнению грандиозных семейных планов в реальность.
                    </p>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-thumbs-up"></span></p>
                    <h3>Только проверенные товары и надежные поставщики</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-globe"></span></p>
                    <h3>Первые в Украине</h3>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <p class="icons"><span class="glyphicon glyphicon-tags"></span></p>
                    <h3>Скидки</h3>
                    <p>
                        Мы очень ценим наших клиентов и рады делать для них скидки.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" data-aos="fade-up">
                    <p class="icons"><span class="glyphicon glyphicon-check"></span></p>
                    <h3>Отзывы</h3>
                    <p>
                        Прочтите отзывы наших клиентов, которые уже пользуются GoodSub и удостовертесь, что мы сделаем вашу жизнь лучше.
                    </p>
                </div>
            </div>
            
            <div class="row" data-aos="fade-up">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h3>Начать пользоваться GoodSub</h3>
                    <a class="btn btn-primary" href="{% url "account:login" %}">Регистрация</a>
                </div>
            </div>
        </div> <!-- end about-features -->

        </div> <!-- end about-how -->  

    </section> <!-- end about -->  
   

    <!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">

            <div class="col-four pricing-intro">
                <h1 class="intro-header" data-aos="fade-up">Доставка</h1>

                <p data-aos="fade-up"><!--Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.-->
                    Доставка осуществляется периодически в заданный вами день недели и интервал времени, вам прийдет смс-напоминание за день. Оплата происходит наличными курьеру при доставки. Вы имеете полное право отказаться от доставки или проверить содержимое по чеку.
                </p>
            </div>

            <div class="col-eight pricing-table">
                <div class="row">

                    <div class="col-six plan-wrap">
                        <div class="plan-block" data-aos="fade-up"> 

                            <div class="plan-top-part">
                                <h3 class="plan-block-title">Стандартная</h3>
                                <p class="plan-block-price"><sup>₴</sup>49</p> <br>
                                <p class="plan-block-per">Подписка на сумму менее 600 грн</p>
                            </div>

                            <div class="plan-bottom-part">
                               <!-- <ul class="plan-block-features">
                                    <li><span>3GB</span> Storage</li>
                                    <li><span>10GB</span> Bandwidth</li>	                  
                                    <li><span>5</span> Databases</li>		                  
                                    <li><span>30</span> Email Accounts</li>
                                </ul>-->

                                <a class="btn btn-primary" href="{% url "account:login" %}">Попробовать</a>
                            </div>  
                     
                        </div>
                    </div> <!-- end plan-wrap -->

                    <div class="col-six plan-wrap">
                            <div class="plan-block" data-aos="fade-up"> 
    
                                <div class="plan-top-part">
                                    <h3 class="plan-block-title">Акционная</h3>
                                    <p class="plan-block-price"><sup>₴</sup>0.0</p> <br>
                                    <p class="plan-block-per">Подписка на сумму более 600 грн</p>
                                </div>
    
                                <div class="plan-bottom-part">
                                   <!-- <ul class="plan-block-features">
                                        <li><span>3GB</span> Storage</li>
                                        <li><span>10GB</span> Bandwidth</li>	                  
                                        <li><span>5</span> Databases</li>		                  
                                        <li><span>30</span> Email Accounts</li>
                                    </ul>-->
    
                                    <a class="btn btn-primary" href="{% url "account:login" %}">Попробовать</a>
                                </div>  
                         
                            </div>
                        </div> <!-- end plan-wrap -->
                   

                </div>               
            </div> <!-- end pricing-table -->

        </div> <!-- end pricing-content -->
        <div class="row text-center" data-aos="fade-up"> <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>Остались Сомнения? Узнать Больше!</h3>
                <a class="btn btn-primary" href="{% url "page:about_shipping" %}">О Доставке</a>
            </div>
        </div>
    </section> <!-- end pricing -->


    <!-- Popular products
     ================================================== -->

     <!-- <span class="product-list-item-name" title="Kerr LLC">Kerr LLC</span>
    <div class="panel-footer"><div><span itemprop="price">63,10&nbsp;$ /react-text </span></div></div>-->

     <section id="products">
        
            <div class="container prod">
                   <h1 class="intro-header" data-aos="fade-up">Популярные товары</h1>  <br>
                   <div  class="row">
                           <div class="col-xs-12 col-sm-4">
                               <div class="thumbnail text-center">
                               <a href="/images/ariel.jpg">
                                   <img src="{% static "homepage/images/ariel.jpg" %}" alt="Lights" style="width:100%">
                                   <div class="caption">
                                  
                                   </div>
                               </a>

                               <div class="product-name">
                                    <span   title="Kerr LLC">Стиральный порошок Ariel Automat 1,5 кг</span>
                               </div>
                               
                               <div class="price">
                                   <span class="label label-primary" itemprop="price">121&nbsp;грн </span>
                                </div>
                               
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-4">
                               <div class="thumbnail text-center">
                                   
                                   <a href="/images/jacobs.jpg">
                                       <img src="{% static "homepage/images/fairy.jpg" %}" alt="Nature" style="width:100%">
                                       <div class="caption">
                                   
                                   </a>
                                   <div class="product-name">
                                        <span   title="Kerr LLC">Жидкое средство для мытья посуды Fairy Зеленое Яблоко 1 л
                                                 </span>
                                   </div>
                                   
                                   <div class="price">
                                       <span class="label label-primary" itemprop="price">42&nbsp;грн </span>
                                    </div>
                                    
                                   </div>
                              
                               </div>
                           </div>
                           <div class="col-xs-12 col-sm-4">
                               <div class="thumbnail text-center">
                               <a href="sample-image.jpg">
                                   <img src="{% static "homepage/images/rexona.jpg" %}" alt="Fjords" style="width:100%">
                                   <div class="caption">
                                   
                                   </div>
                               </a>
                                <div class="product-name">
                                        <span   title="Kerr LLC">Дезодорант-ролик Rexona Invisible 50ml
                                                </span>
                                   </div>
                                   
                                   <div class="price">
                                       <span class="label label-primary" itemprop="price">29&nbsp;грн </span>
                                    </div>
                                
                               </div>
                           </div>
            </div>
                          <!-- <div class="text-center">
                                   <button class="button button-primary small">View All</a>
                                  <a href="#" title="sign-up" class="button button-primary">More</a>
                               </div>-->
            
   
            <div class="row text-center" data-aos="fade-up"> <br>
               <div class="col-xs-12 col-sm-12 col-md-12">
                   <h3>Посмотреть Все Товары</h3>
                   <a class="btn btn-primary" href="{% url "home" %}">Каталог</a>
               </div>
           </div>
        </div>
     </section>
     


    <!-- FAQ
     ================================================== -->
     <section id="faq" class="faq-style">
        
            <div class="container ">
        
                    <h1 class="intro-header" data-aos="fade-up">Частые Вопросы?</h1> <br>
        
                <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="ing" data-parent="#accordion" href="#collapse1">
                                Как пользоваться сервисом?</a>
                            </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">Вы можете посмотреть как оформлять подписку по ссылке <a href="#">КАК ПОЛЬЗОВАТЬСЯ?</a> (с картинками).</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" class="ing" href="#collapse2">
                                Как происходит оплата?</a>
                            </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body"> Оплата производиться наличными курьеру при получении посылки.
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" class="ing" href="#collapse3">
                                Как можно съэкономить?</a>
                            </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Есть несколько способов: <br> 1) - заполнить подписку всеми необходимыми товарами на сумму больше, чем 600грн, чтобы получить бесплатную доставку. <br> 2) - В обратном случае, можно оформить подписку на один адрес с содедями, что позволит увеличить общую сумму для получения бесплатной доставки.  </div>
                            </div>
                        </div>
                       
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary" href="{% url "page:faq" %}">Подробнее</a>
                           <!--<a href="#" title="sign-up" class="button button-primary">More</a>-->
                        </div>
        
                        
                        
                
            </div>
        
     </section>
     
    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">  

                <div class="col-three md-1-3 tab-full footer-info">            

                    <div class="footer-logo"></div>

                    <p>
                   <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.-->
                   Этот страница является презентационной и носит ознакомительный характер со всеми плюсами основного сервиса <a href="#">GoodSub</a>
                    </p>

                    <ul class="footer-social-list">
                        <li>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    
                    
                </div> <!-- end footer-info -->

                <div class="col-three md-1-3 tab-1-2 mob-full footer-contact">

                    <h4>Контакты</h4>

                    <p>
                    Украина, г. Харьков<br>
                    почтовый индекс: 61138	        
                    </p>

                    <p>
                    GoodSubTeam@gmail.com <br>
                    тел: +380 095 817 64 88 <br> 
                    </p>                    

                </div> <!-- end footer-contact -->  

                <div class="col-two md-1-3 tab-1-2 mob-full footer-site-links">

                    <h4>Ссылки</h4>

                    <ul class="list-links">
                        <li><a href="#home">Главная</a></li>
                        <li><a href="#about">О Проекте</a></li>
                        <li><a href="#pricing">Доставка</a></li>
                        <li><a href="#products">Популярные товары</a></li>
                        <li><a href="#faq">ЧаВо</a></li>
                    </ul>	      		
                            
                </div> <!-- end footer-site-links --> 

                <div class="col-four md-1-2 tab-full footer-subscribe">

                    <h4>Email рассылка</h4>

                    <p><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
                    Подпишись на нашу email рассылку, чтобы быть в курсе всех новостей и скидок!</p>

                    <div class="subscribe-form">
                
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email" required=""> 
                
                            <input type="submit" name="subscribe" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>

                    </div>	      		
                            
                </div> <!-- end footer-subscribe -->         

            </div> <!-- /row -->
        </div> <!-- end footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright GoodSub 2018.</span> 	         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> <!-- end footer-bottom -->     	

      </div>

    </footer>

    <div id="preloader"> 
    	<div id="loader"></div>
    </div>  

    <!-- Java Script
    ================================================== -->
    <script src="{% static "homepage/js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "homepage/js/plugins.js" %}"></script>
    <script src="{% static "homepage/js/main.js" %}"></script>

</body>

</html>