{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load bootstrap_pagination from bootstrap4 %}
{% load i18n %}
{% load i18n_address_tags %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}

{% block title %}{% trans "Your profile" context "User profile page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    <li>{% trans "Your account" context "Main navigation item" %} (<b>{{ user }}</b>)</li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="account">
    <div class="account__nav container">
      <h2>{% trans "My account" %}</h2>
      <ul class="nav nav-tabs col-lg-10 m-auto" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#orders" role="tab">
            <h3>{% trans "Recent Orders" context "User profile tab" %}</h3>
          </a>
        </li>
        {% if user.password %}
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#password" role="tab">
            <h3>{% trans "Change password" context "User profile tab" %}</h3>
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#addresses" role="tab">
            <h3>{% trans "Addresses book" context "User profile tab" %}</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
            <h3>{% trans "Настройки" context "User profile tab" %}</h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content col-lg-10 m-auto">
      <div class="tab-pane active fade show" id="orders" role="tabpanel">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          {% if orders|length %}
            <div class="table__header">
              <div class="row">
                <div class="col-md-2 col-3">
                  <small>{% trans "Order" context "Recent orders column title" %}</small>
                </div>
                <div class="col-md-3 col-4 d-none d-md-block">
                  <small>{% trans "Created" context "Recent orders column title" %}</small>
                </div>
                <div class="col-md-2 col-4 text-right">
                  <small>{% trans "Day of week" context "Recent orders column title" %}</small>
                </div>
               
                <div class="col-md-2 d-none d-md-block text-right">
                    <small>{% trans "Time" context "Recent orders column title" %}</small>
                </div>
              </div>
            </div>
            {% for order in orders %}
              <div class="table__row">
                <div class="row">
                  <div class="col-md-2 col-3">
                    {{ order }}
                  </div>
                  <div class="col-md-3 d-none d-md-block">
                    {{ order.created }}
                  </div>
                  <div class="col-md-2 col-4">
                    <span class="float-right">
                      {{ order.get_week_day_display }}
                    </span>
                  </div>
                  <div class="col-md-2 d-none d-md-block">
                    <span class="float-right">
                        {{ order.get_delivery_time_display }}
                    </span>
                  </div>
                  <div class="col-md-3 col-5">
                    <a href="{{ order.get_absolute_url }}" class="float-right link">
                      {% trans "Details" context "Recent orders link text" %}
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="row mt-4">
              <div class="m-auto">
                {% if orders.has_other_pages %}
                  {% bootstrap_pagination orders extra=request.GET.urlencode %}
                {% endif %}
              </div>
            </div>
          {% else %}
            <h3 class="text-sm-center account__orders-empty">
              {% trans "There are not any completed orders yet." context "No recent orders text" %}
            </h3>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane fade" id="password" role="tabpanel">
        <div class="row ">
          <div class="col-md-8 col-lg-6 m-auto account__password">
            <form action="" method="post">
              {% csrf_token %}
              {% bootstrap_form change_password_form %}
              <input type="submit" class="btn primary narrow" value="{% trans "Change password" context "User profile action" %}">
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="addresses" role="tabpanel">
        <div class="card-deck-wrapper account__addresses">
          <div class="row card-deck">
            {% for address in addresses %}
              <div class="col-md-6">
                <div class="card card-block">
                  {% format_address address %}
                  <ul class="icons">
                    <li>
                      <a href="{% url "account:address-edit" pk=address.pk %}">
                        {% trans "Edit" context "User address action" %}
                      </a>
                    </li>
                    <li>
                      <a class="delete-icon">
                        <svg data-src="{% static "images/delete.svg" %}" height="20px" width="20px" />
                      </a>
                    </li>
                  </ul>
                  {% include "account/address_delete.html" with pk=address.pk %}
                </div>
              </div>
            {% endfor %}
          </div>
          {% if addresses|length == 0 %}
            <h3 class="text-sm-center">
              {% trans "You will see new addresses here after first successful checkout." context "No addresses text" %}
            </h3>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane fade" id="settings" role="tabpanel">
        <div class="row ">
          <div class="d-block mx-auto text-center">
            <form action="{% url 'account:delete' %}" method="post">
              {% csrf_token %}
              <p>
                {% blocktrans context "Message informing about the process of account removal" %}
                  Если вы желаете удалить свой аккаунт, то нажмите на кнопку ниже - мы вам вышлем на почту письмо с подтверждением
                {% endblocktrans %}
              </p>
              <button type="submit" class="btn danger narrow text-center">
                {% trans "Удалить аккаунт" context "Remove account form action" %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
