{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Log in" context "Login page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link">
          <br><br><br>
          <h3>{% trans "Don't have an account yet?" context "Login form secondary title" %}</h3>
          <!--<img class="lazyload lazypreload"
               data-src="{% static 'images/login-bg.png' %}"
               data-srcset="{% static 'images/login-bg.png' %} 1x, {% static 'images/login-bg2x.png' %} 2x">-->
          <a rel="nofollow" href="{% url 'account:signup' %}" class="btn secondary narrow">
            {% trans "Register" context "Login form secondary action" %}
          </a>
        </div>
      </div>
      <div class="col-md-6 login__form">
        <h3>{% trans "Log in" context "Login form title" %}</h3>
        {% include "account/partials/login_form.html" %}
      </div>
    </div>
  </div>
{% endblock %}
