{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link"> <br><br>
          <h3>{% trans "Already have an account?" context "Signup form secondary title" %}</h3>
          <!--<img class="signup-img lazyload lazypreload" data-src="{% static 'images/login-bg.png' %}"
            srcset="{% static 'images/login-bg.png' %} 1x, {% static 'images/login-bg2x.png' %} 2x">-->
          <p><a rel="nofollow" href="{% url 'account:login' %}" class="btn secondary narrow">
            {% trans "Log in" context "Signup form secondary action" %}
          </a></p>
        </div>
      </div>
      <div class="col-md-6 login__form">
        <form method="post" action="{% url 'account:signup' %}">
          <fieldset>
            <h3>{% trans "Create an account" context "Signup form title" %}</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if REDIRECT_FIELD_VALUE %}
              <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}"/>
            {% endif %}
          </fieldset>
          <button type="submit" class="btn primary narrow">
            {% trans "Create an account" context "Signup form primary action" %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
