{% extends "dashboard/base.html" %}
{% load babel %}
{% load i18n %}
{% load i18n_address_tags %}
{% load materializecss %}
{% load price from taxed_prices %}
{% load staticfiles %}
{% load status %}
{% load voucher %}

{% block title %}
  {{ order }} - {% trans "Orders" context "Dashboard orders list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:orders" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
    <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24" />
  </a>
  <ul id="context-menu" class="dropdown-content">
    {% if perms.order.edit_order %}
      {% if order.can_cancel %}
        <li>
          <a href="#base-modal" data-href="{% url "dashboard:order-cancel" order_pk=order.pk %}" class="modal-trigger-custom">
            {% trans "Cancel Order" context "Order detail action" %}
          </a>
        </li>
      {% endif %}
      {% if order.is_draft %}
        <li>
          <a href="#base-modal" data-href="{% url "dashboard:draft-order-delete" order_pk=order.pk %}" class="modal-trigger-custom">
            {% trans "Remove draft order" context "Order detail action" %}
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if not order.is_draft %}
      <li>
        <a class="btn-print" href="#">
          {% trans "Print" context "Order detail action" %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:orders" %}">
        {% trans "Orders" context "Dashboard orders list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:orders" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span>
        {{ order }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#order-details" role="tab" class="active">
            <span>
              {% trans "Details" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#payment-history" role="tab">
            <span>
              {% trans "Payments" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/payment.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-history" role="tab">
            <span>
              {% trans "History" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/history.svg" %}" class="fill-secondary" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row tab-content" id="order-details">
    <div class="col s12 l4 switch-two-columns">
      <div class="card">
        <div class="data-table-header">
          <h5 class="data-table-title">
            {% trans "Payments" context "Order summary card header" %}
          </h5>
          {% if payment %}
            {% render_status payment.status payment.get_status_display %}
          {% else %}
            <span class="label">
              {% trans "N/A" context "Payment status not available" %}
            </span>
          {% endif %}
        </div>
        <div class="data-table-container">
          <table class="data-table bordered highlight">
            <tfoot>
              <tr>
                <td>
                  <strong>
                    {% trans "Outstanding balance" context "Order summary card header" %}
                  </strong>
                </td>
                <td class="right-align">
                  <strong>
                    {% price balance %}
                  </strong>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>
                  {% trans "Preauthorized amount" context "Order summary card header" %}
                </td>
                <td class="right-align">
                  {% if preauthorized.gross %}
                    {% price preauthorized.gross %}
                  {% else %}
                    {% trans "N/A" context "Preauthorized amount not available" %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  {% trans "Captured amount" context "Order summary card header" %}
                </td>
                <td class="right-align">
                  {% price captured %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if perms.order.edit_order and not order.is_draft %}
          {% if can_capture or can_refund or can_release or can_mark_as_paid %}
            <div class="data-table-action">
              {% if can_capture %}
                <a href="#base-modal" data-href="{% url 'dashboard:capture-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Capture" context "Order summary card action" %}
                </a>
              {% elif can_refund %}
                <a href="#base-modal" data-href="{% url 'dashboard:refund-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Refund" context "Order summary card action" %}
                </a>
              {% endif %}
              {% if can_release %}
                <a href="#base-modal" data-href="{% url 'dashboard:release-payment' order_pk=order.pk payment_pk=payment.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Release" context "Order summary card action" %}
                </a>
              {% endif %}
              {% if can_mark_as_paid %}
                <a href="#base-modal" data-href="{% url 'dashboard:order-mark-as-paid' order_pk=order.pk %}" class="btn-flat modal-trigger-custom waves-effect">
                  {% trans "Mark as paid" context "Order detail action" %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="row">
        <div class="col s12 {% if order.shipping_address %}m6{% else %}m12{% endif %} l12 p6">
          <div class="card">
            <div class="card-content card-border">
              <span class="card-title black-text">
                {% trans "Customer" context "Order details summary header" %}
                {% if perms.order.edit_order and order.is_draft  %}
                  <span class="right">
                    <a href="#base-modal" data-href="{% url "dashboard:order-customer-edit" order_pk=order.pk %}" class="btn-flat waves-effect modal-trigger-custom"
                       title="{% trans "Edit customer details" context "Order customer details action title" %}">
                      {% trans "Edit" context "Dashboard edit action" %}
                    </a>
                  </span>
                {% endif %}
              </span>
              {% if order.user %}
                <a href="{% url 'dashboard:customer-details' pk=order.user.pk %}">{{ order.user }}</a>
                {% if order.user.note %}
                  <p>{{ order.user.note|truncatechars:80 }}</p>
                {% endif %}
              {% elif order.user_email %}
                {{ order.user_email }}
              {% else %}
                {% trans "Guest" context "Anonymous user account value" %}
              {% endif %}
            </div>
            {% if order.is_shipping_required or order.is_draft %}
              <div class="card-content card-border">
                <span class="card-title black-text">
                  {% trans "Shipping address" context "" %}
                  {% if perms.order.edit_order %}
                    <span class="right">
                      <a href="{% url "dashboard:address-edit" order_pk=order.pk address_type="shipping" %}" class="btn-flat waves-effect">
                        {% trans "Edit" context "Dashboard edit action" %}
                      </a>
                    </span>
                  {% endif %}
                </span>
                {% if order.shipping_address %}
                  {% format_address order.shipping_address %}
                {% else %}
                  {% trans "No shipping address" context "Missing shipping address message" %}
                {% endif %}
              </div>
            {% endif %}
            <div class="card-content">
              <span class="card-title black-text">
                  {% trans "Billing address" context "" %}
                  {% if perms.order.edit_order %}
                    <span class="right">
                      <a href="{% url "dashboard:address-edit" order_pk=order.pk address_type="billing" %}" class="btn-flat waves-effect">
                        {% trans "Edit" context "Dashboard edit action" %}
                      </a>
                    </span>
                  {% endif %}
              </span>
              {% if order.billing_address %}
                {% if order.billing_address == order.shipping_address %}
                  {% trans "Same as shipping address" context "Order billing address same as shipping address" %}
                {% else %}
                  {% format_address order.billing_address %}
                {% endif %}
              {% else %}
                {% trans "No billing address" context "Missing billing address message" %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l8 switch-two-columns">
      <div class="card shipment-table">
        <div class="data-table-header">
          <div class="data-table-title">
            <h5>
              {% if order.is_draft %}
                {% blocktrans trimmed with order=order.id context "Order table title"  %}
                  Order draft #{{ order }}
                {% endblocktrans %}
              {% else %}
                {% blocktrans trimmed with order=order.id context "Order table title"  %}
                  Order #{{ order }}
                {% endblocktrans %}
              {% endif %}
            </h5>
            <h6>
              {% trans "Placed on" context "Order placed on date" %} {{ order.created }}
            </h6>
            <h6 style="color: brown!important;">
              delivery time: {{ order.get_delivery_time_display }} ; day of week: {{ order.get_week_day_display }}
            </h6>           

          </div>
          {% render_order_status order.status order.get_status_display %}
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th class="wide">
                  {% trans "Item" context "Order table header" %}
                </th>
                <th class="right-align">
                  {% trans "Price" context "Order table header" %}
                </th>
                <th class="right-align">
                  {% trans "Quantity" context "Order table header" %}
                </th>
                <th class="right-align">
                  {% trans "Total" context "Order table header" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for line in order %}
                <tr class="last-no-border">
                  <td>
                    {% if line.variant.product %}
                      <a href="{% url 'dashboard:product-details' pk=line.variant.product.pk %}">{{ line.product_name }}</a>
                    {% else %}
                      {{ line.product_name }}
                    {% endif %}
                    <br>
                    <span class="grey-text">
                      {% blocktrans trimmed with sku=line.product_sku context "Order table text" %}
                        SKU: {{ sku }}
                      {% endblocktrans %}
                    </span>
                  </td>
                  <td class="right-align">
                    {% price line.unit_price order.display_gross_prices %}
                  </td>
                  <td class="right-align">
                    {% if perms.order.edit_order and order.is_draft %}
                      <a class="dropdown-button" href="#" data-activates="line-actions-{{ line.pk }}" data-constrainwidth="false">
                        {{ line.quantity }}
                        <svg data-src="{% static "dashboard/images/arrow-drop-down.svg" %}" width="24" height="24" />
                      </a>
                      <ul id="line-actions-{{ line.pk }}" class="dropdown-content">
                        <li>
                          <a href="#base-modal" data-href="{% url 'dashboard:orderline-change-quantity' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Change quantity" context "Order table row action" %}">
                            {% trans "Change quantity" context "Order table row action" %}
                          </a>
                        </li>
                        <li>
                          <a href="#base-modal" data-href="{% url 'dashboard:orderline-cancel' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Remove line" context "Order table row action" %}">
                            {% trans "Remove line" context "Order table row action" %}
                          </a>
                        </li>
                      </ul>
                    {% else %}
                      {{ line.quantity }}
                    {% endif %}
                  </td>
                  <td class="right-align">
                    {% price line.get_total display_gross=order.display_gross_prices %}
                  </td>
                </tr>
              {% endfor %}
              <tr class="last-no-border">
                <td class="right-align" colspan="3">
                  <p>
                    {% trans "Subtotal" context "Order subtotal" %}
                  </p>
                  <p>
                    {% if perms.order.edit_order and order.is_draft %}
                      <a href="#base-modal" data-href="{% url 'dashboard:order-shipping-edit' order_pk=order.pk %}"
                         class="modal-trigger-custom" title="{% trans "Edit shipping" context "Order totals action" %}">
                        {% if order.shipping_method_name %}
                          {% blocktrans trimmed with shipping_name=order.shipping_method_name context "Order totals header" %}
                            Shipping ({{ shipping_name }})
                          {% endblocktrans %}
                        {% else %}
                          {% trans "Shipping" context "Order totals header" %}
                        {% endif %}
                      </a>
                    {% else %}
                      {% if order.shipping_method_name %}
                        {% blocktrans trimmed with shipping_name=order.shipping_method_name context "Order totals header" %}
                          Shipping ({{ shipping_name }})
                        {% endblocktrans %}
                      {% else %}
                        {% trans "Shipping" context "Order totals header" %}
                      {% endif %}
                    {% endif %}
                  </p>
                  <p>
                    {% if order.display_gross_prices %}
                      {% trans "Taxes (included)" context "Order total taxes" %}
                    {% else %}
                      {% trans "Taxes" context "Order total taxes" %}
                    {% endif %}
                  </p>
                  {% if order.is_draft or order.discount_amount %}
                    <p>
                      {% if perms.order.edit_order and order.is_draft  %}
                        <a class="dropdown-button" href="#" data-activates="discount-menu" data-constrainwidth="false">
                          {% if order.discount_name %}
                            {% blocktrans trimmed with voucher=order.discount_name context "Order totals header" %}
                              Discount ({{ voucher }})
                            {% endblocktrans %}
                          {% else %}
                            {% trans "Discount" context "Order totals header" %}
                          {% endif %}
                          <svg data-src="{% static "dashboard/images/arrow-drop-down.svg" %}" width="20px" height="20px" />
                        </a>
                        <ul id="discount-menu" class="dropdown-content">
                          <li>
                            <a href="#base-modal" data-href="{% url 'dashboard:order-voucher-edit' order_pk=order.pk %}"
                               class="modal-trigger-custom" title="{% trans "Edit voucher" context "Order totals action" %}">
                              {% trans "Edit voucher" context "Order detail action" %}
                            </a>
                          </li>
                          <li>
                            <a href="#base-modal" data-href="{% url 'dashboard:order-discount-edit' order_pk=order.pk %}"
                               class="modal-trigger-custom" title="{% trans "Edit discount" context "Order totals action" %}">
                              {% trans "Edit discount" context "Order detail action" %}
                            </a>
                          </li>
                        </ul>
                      {% elif order.discount_amount %}
                        {% if order.discount_name %}
                          {% blocktrans trimmed with voucher=order.discount_name context "Order totals header" %}
                            Discount ({{ voucher }})
                          {% endblocktrans %}
                        {% else %}
                          {% trans "Discount" context "Order totals header" %}
                        {% endif %}
                      {% endif %}
                    </p>
                  {% endif %}
                  <p><strong>{% trans "Grand total" context "Order totals header" %}</strong></p>
                </td>
                <td class="right-align">
                  <p>
                    {% price order.get_subtotal display_gross=order.display_gross_prices %}
                  </p>
                  <p>
                    {% price order.shipping_price display_gross=order.display_gross_prices %}
                  </p>
                  <p>{% price order.total.tax %}</p>
                  {% if order.is_draft or order.discount_amount %}
                    <p>{% discount_as_negative order.discount_amount html=True %}</p>
                  {% endif %}
                  <p><strong>{% price order.total.gross %}</strong></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% if perms.order.edit_order or perms.order.view_order %}
          <div class="data-table-action">
            {% if perms.order.edit_order %}
              {% if order.is_open %}
                <a href="{% url 'dashboard:fulfill-order-lines' order_pk=order.pk %}" class="btn-flat waves-effect" title="{% trans "Fulfill order" context "Order summary card action title" %}">
                  {% trans "Fulfill" context "Order summary card action" %}
                </a>
              {% endif %}
              {% if order.is_draft %}
                <a href="#base-modal" data-href="{% url 'dashboard:add-variant-to-order' order_pk=order.pk %}" class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Add product to order" context "Order summary card action title" %}">
                  {% trans "Add product" context "Order summary card action" %}
                </a>
              {% endif %}
              <span class="right">
                {% if order.is_draft %}
                  <a href="#base-modal" data-href="{% url 'dashboard:create-order-from-draft' order_pk=order.pk %}" class="btn waves-effect modal-trigger-custom" title="{% trans "Create order" context "Order summary card action title" %}">
                   {% trans "Create order" context "Order summary card action" %}
                  </a>
                {% endif %}
              </span>
            {% endif %}
            {% if not order.is_draft and perms.order.view_order %}
              <a href="{% url 'dashboard:order-invoice' order_pk=order.pk %}" class="btn-flat waves-effect" target="_blank">
                {% trans "Invoice" context "Order detail action" %}
              </a>
              <a href="{% url 'order:details' token=order.token %}" class="btn-flat waves-effect" target="_blank">
                {% trans "View on site" context "Order detail action" %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% for fulfillment in order_fulfillments %}
        <div class="card shipment-table">
          <div class="data-table-header">
            <h5 class="data-table-title">
              {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Fulfillment table title"  %}
                Fulfillment #{{ fulfillment }}
              {% endblocktrans %}
            </h5>
            {% render_order_status fulfillment.status fulfillment.get_status_display %}
          </div>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th class="wide">
                    {% trans "Item" context "Order table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Quantity" context "Order table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for line in fulfillment %}
                  <tr class="last-no-border">
                    <td>
                      {{ line.order_line.product_name }}
                    </td>
                    <td class="right-align">
                      {{ line.quantity }}
                    </td>
                  </tr>
                {% endfor %}
                {% if fulfillment.tracking_number %}
                  <tr class="last-no-border">
                    <td colspan="2">
                      {% blocktrans trimmed with tracking=fulfillment.tracking_number context "Fulfillment table text" %}
                        Tracking number: {{ tracking }}
                      {% endblocktrans %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          {% if perms.order.edit_order and fulfillment.can_edit %}
            <div class="data-table-action">
              <a href="#base-modal" data-href="{% url 'dashboard:fulfillment-cancel' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"
                 class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Cancel fulfillment" context "Fulfillment summary card action title" %}">
                {% trans "Cancel" context "Fulfillment summary card action" %}
              </a>
              <a href="#base-modal" data-href="{% url 'dashboard:fulfillment-change-tracking' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"
                 class="btn-flat waves-effect modal-trigger-custom" title="{% trans "Edit tracking number" context "Fulfillment summary card action title" %}">
                {% if fulfillment.tracking_number %}
                  {% trans "Edit tracking" context "Fulfillment summary card action" %}
                {% else %}
                  {% trans "Add tracking" context "Fulfillment summary card action" %}
                {% endif %}
              </a>
              <a href="{% url 'dashboard:fulfillment-packing-slips' order_pk=order.pk fulfillment_pk=fulfillment.pk %}"
                 data-href="" class="btn-flat waves-effect" target="_blank">
                {% trans "Packing Slips" context "Order detail action" %}
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <div class="card order-notes{% if not notes %} print-hide{% endif %}" id="order-notes">
        <div class="card-content">
          <span class="card-title black-text">
            {% trans "Order notes" context "Order notes card title" %}
          </span>
          {% if notes %}
            <ul class="list">
              {% for note in notes %}
              <li class="list-item list-item--spaced">
                <small class="list-item-author">{{ note.user }} - {{ note.date }}</small>
                <p>{{ note.content }}</p>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>
              {% trans "There are no notes associated with this order." context "Empty order notes card message" %}
            </p>
          {% endif %}
        </div>
        {% if perms.order.edit_order %}
          <div class="card-action">
            <a data-href="{% url "dashboard:order-add-note" order_pk=order.pk %}" class="modal-trigger-custom btn-flat waves-effect" href="#base-modal">
              {% trans "Add note" context "Order notes card action" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="tab-content" id="payment-history">
    {% if all_payments %}
      <p class="print-show print-tabs">{% trans "Payments" context "Order detail tab" %}</p>
      <div class="card">
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>
                  {% trans "Transaction ID" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Date" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Payment status" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Fraud status" context "Payment history table header" %}
                </th>
                <th>
                  {% trans "Amount" context "Payment history table header" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for payment in all_payments %}
                <tr>
                  <td>
                    {% blocktrans trimmed with payment_id=payment.id context "Payment item column data" %}
                      #{{ payment_id }}
                    {% endblocktrans %}
                  </td>
                  <td>
                    {{ payment.created }}
                  </td>
                  <td>
                    {% render_status payment.status payment.get_status_display %}
                  </td>
                  <td>
                    {% render_status payment.fraud_status payment.get_fraud_status_display %}
                  </td>
                  <td>
                    {{ payment.total|currencyfmt:payment.currency }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <p>
        {% trans "No payments made for this order." context "Empty payment history table message" %}
      </p>
    {% endif %}
  </div>
  <div class="tab-content" id="order-history">
    <p class="print-show print-tabs">{% trans "History" context "Order detail tab" %}</p>
    <div class="timeline-outer">
      <ul class="timeline">
        {% for event in events %}
          <li class="event" data-date="{{ event.date }}">
            <div class="content">
              {{ event.content|default:"" }}{% if event.user %} by {{ event.user }}{% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
