{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail product_first_image from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder %}
{% load staticfiles %}
{% load taxed_prices %}

{% block title %}
  {% if product.seo_title %}
    {{ product.seo_title }}
  {% else %}
    {{ product.name }} - {{ block.super }}
  {% endif %}
{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="{{ product.seo_title|default:product.name }}">
  <meta property="og:description" content="{{ product.seo_description|default:"" }}">
  <meta name="description" content="{{ product.seo_description|default:"" }}">

  {% build_absolute_uri request=request location=product.get_absolute_url as product_url %}
  <meta property="og:url" content="{{ product_url }}">
  <link rel="canonical" href="{{ product_url }}">

  {% product_first_image product size="510x510" as product_image %}
  {% if product_image %}
    <meta property="og:image" content="{{ product_image }}" />
    <meta property="og:image:width" content="510">
    <meta property="og:image:height" content="510">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    {% if product.category %}
      <li>
        <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
      </li>
    {% endif %}
    <li>
      <a href="{{ product.get_absolute_url }}">{{ product }}</a>
    </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="alert alert-success add-product-alert d-none">
  {% trans "Продукт добавлен в подписку" context "Cart message" %}
  <button type="button" class="close close-msg" aria-hidden="true">&times;</button>
</div>
<div class="alert alert-danger cant-add-product-alert d-none">
  {% trans "Продукт не может быть добавлен в подписку" context "Cart message" %}
  <button type="button" class="close close-msg" aria-hidden="true">&times;</button>
</div>
  {% if not is_visible %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
        <strong>Warning!</strong>
        You are previewing a product that will become visible on <strong>{{ date }}</strong>.
      {% endblocktrans %}
    </div>
  {% endif %}
  <div class="row product">
    <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
    <div class="col-md-6 col-12 product__gallery">
      {% with images=product_images %}
        {% if images %}
          <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner" role="listbox">
              {% for image in images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <img class="d-block img-fluid lazyload lazypreload"
                       data-src="{% get_thumbnail image.image method="crop" size="540x540" %}"
                       data-srcset="{% get_thumbnail image.image method="crop" size="540x540" %} 1x, {% get_thumbnail image.image method="crop" size="1080x1080" %} 2x"
                       alt=""
                       src="{% placeholder size=540 %}">
                </div>
              {% endfor %}
            </div>
            {% if images|length > 1 %}
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
            {% endif %}
            <ol class="carousel-indicators d-none d-md-block">
              {% for image in images %}
                {% if images|length > 1 %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                    <img data-src="{% get_thumbnail image.image method="crop" size="60x60" %}"
                         data-srcset="{% get_thumbnail image.image method="crop" size="60x60" %} 1x, {% get_thumbnail image.image method="crop" size="120x120" %} 2x"
                         alt=""
                         class="lazyload lazypreload"
                         src="{% placeholder size=60 %}">
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        {% else %}
          <img data-src="{% placeholder size=540 %}"
               data-srcset="{% placeholder size=540 %} 1x, {% placeholder size=1080 %} 2x"
               alt=""
               class="img-fluid lazyload lazypreload">
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-md-6 col-12 product__info">
      <h1 class="product__info__name">
        {{ product }}
      </h1>
      {% if user.is_staff %}
        <p>
          <a href="{% url "dashboard:product-details" pk=product.pk %}">
            {% trans "Edit in dashboard" context "Product details link text" %}
          </a>
        </p>
      {% endif %}
      {% if availability.available %}
        {% if show_variant_picker %}
          <div id="variant-price-component"></div>
        {% else %}
          <h2 class="product__info__price">
            <span>{% price_range availability.price_range %}</span>
            {% if availability.discount %}
              <small class="product__info__price__undiscounted">
                {% price availability.price_range_undiscounted %}
              </small>
            {% endif %}
            {% if availability.price_range_local_currency %}
              <br>
              <small class="text-info">
                &asymp;
                {% price availability.price_range_local_currency %}
              </small>
            {% endif %}
            {% if request.taxes %}
              <small>
                {% tax_rate request.taxes product.tax_rate as tax_rate %}
                {% if site.settings.display_gross_prices %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    including {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% else %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    excluding {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% endif %}
              </small>
            {% endif %}
          </h2>
        {% endif %}
      {% endif %}
      {% if is_visible and product.is_in_stock %}
        {% block orderform %}
        <!--<select class="custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>-->
          {% if show_variant_picker %}
            {% csrf_token %}
            <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
            
          {% else %}
            <form id="product-form" role="form" class="product-form clearfix" method="post" action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
              {% csrf_token %}
                  <div class='variant-picker__label' for="id_subtype_0">Тип Подписки</div>
                  <div class="subtype-input">
                      {% bootstrap_field form.subtype %}
                  </div>
                
                     <!-- <label
                      class='btn btn-secondary variant-picker__option active'
                      key='0'
                      >
                      <input
                        defaultChecked='true'
                        name='week'
                        type="radio"
                        value = '0'/>
                      Week
                    </label>
                     <label
                      class='btn btn-secondary variant-picker__option'
                      key='1'
                      >
                      <input
                        defaultChecked='false'
                        name='2 weeks'
                        type="radio"
                        value = '1'/>
                     2 Weeks
                    </label>-->  
                   <!-- </div> -->
             
              {% bootstrap_field form.variant %}
              <div class="product__info__quantity">
                {% bootstrap_field form.quantity %}
              </div>
              <div class="form-group product__info__button">
                <button class="btn primary">
                  {% trans "Add to cart" context "Product details primary action" %}
                </button>
              </div>
            </form>
            
          {% endif %}
        {% endblock %}
       

        <div class="product__info__form-error">
          <small class="text-danger"></small>
        </div>

      {% else %}
        <p class="alert alert-warning">
          {% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
        </p>
      {% endif %}
      <div class="product__info__description">
        <h3>{% trans "Description" context "Product details title" %}</h3>
        <hr>
        {{ product.description|safe }}
      </div>
      <hr>
      <table>
        {% for attribute, value in product_attributes.items %}
          <tr>
            <td>{{ attribute }}:</td>
            <td><strong>{{ value }}</strong></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
