

.calendar{
  background:#F6F2F2;
	color: #777;
	padding: 0;
	max-width: 20em;
	min-height: 15em;
  margin: .5em auto;

    p {
        line-height: 1.5em;
          margin: 0;
          color: #444;
      }

    li {
        float: left;
        width: calc(100% / 7);
        text-align: center;
        padding: .35em 0;
        //cursor: pointer;
    }

    li.empty {
        pointer-events: none;
      }
      
    li.week-active {
      background-color: red;
      color: #ddd;
    }
    li.active {
      background-color: $blue;
      color: #ddd;
    }
    li.month-active {
      background-color: green;
      color: #ddd;
    }
      
    li:nth-child(-n+6) {
          color: #777;
      }

      * {
        box-sizing: border-box;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .monthname {
      width: 18em;
    }
    .pointer {
      cursor: pointer;
      user-select: none;
    }
    
    .header {
      border-bottom: 1px solid #ddd;
      padding: .5em;
      margin-bottom: .5em;
    }
    
    .group:after {
        content: "";
        display: table;
        clear: both;
    }

    .center {
        text-align: center;
    }
}