@import "_buttons.scss";

.variant-picker {
  margin-bottom: $global-margin;
  .btn-group {
    display: inline-block;
  }
  &__label {
    margin-bottom: $global-margin;

  }
  &__options {
    display: block;
  }
  &__option {
    margin-bottom: 0;
    margin-bottom: $global-margin / 4;
    border-color: $gray;
    float: left;
    &.active {
      border-color: $darken-gray;
    }
    input {
      display: none;
    }
  }
}


.subtype-input {
  .radio{
    display: inline-flex;
    margin-left: 0 !important; 
    margin-right: 0 !important; 

    label {
      @extend .btn, .btn-secondary, .variant-picker__option ;
    }
  }

  .form-group > label {
    display: none;
  }

}