{% load i18n %}
{% load taxed_prices %}
{% load price from taxed_prices %}

<!--
{% if shipping_required %}
  <div class="table__row">
    <div class="row">
      <div class="col-8 cart__total__subtotal">
        <h3>{% trans "Subtotal" context "Order subtotal" %}</h3>
      </div>
      <div class="col-4">
        <h3 class="text-right cart-subtotal" data-value="{% price cart_total.gross html=False %}" {% if local_cart_total is not None %}data-value-local="{% price local_cart_total.gross html=False %}"{% endif %}>
          {% spaceless %}
            {% price cart_total %}
          {% endspaceless %}
        </h3>
      </div>
    </div>
  </div>-->
 <!-- <div class="last table__row cart__delivery-info">
    <div class="row">
      <div class="col-7 cart__total__subtotal deliveryform" data-csrf="{{ csrf_token }}">
        <div class="row">
          <div class="col-12 col-md-4">
            <p>{% trans "Shipping cost for:" context "Cart shipping cost form" %}</p>
          </div>
          <div class="col-12 col-md-8">
            {{ country_form.country }}
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col-md-12 col-12 text-right">
            <p class="cart__delivery-info__price">
              {% if default_country_options %}
                {% price_range default_country_options %}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}-->
<div class="cart__total">
  <div class="row">
    <div class="col-8 cart__total__subtotal">
      <h3>{% trans "Total" context "Order subtotal" %}</h3>
    <!--  <small>{% trans "total exluding shipment" context "Cart summary text" %}</small>-->
    </div>
    <div class="col-4">
      {% spaceless %}
        {% if total_with_shipping %}
          <!--<h3 class="text-right cart-total"><span>{% price_range total_with_shipping %}</span>
            {% if local_total_with_shipping %}
              <br>
              <small>
                &asymp;
                {% price_range local_total_with_shipping %}
              </small>
            {% endif %}
          </h3>-->
          <div id="subtotals">
            <div id="all_total">
                <h3  class="text-right cart-total"><span>{% price_range total_with_shipping %}</span></h3>
            </div>
            <div id="week_total" class="d-none">
                <h3  class="text-right "><span>{% price totals.week_total %}</span></h3>
              </div>
              <div id="2_weeks_total" class="d-none">
                  <h3 class="text-right"><span>{% price totals.week2_total %}</span></h3>
                </div>
                <div id="month_total" class="d-none">
                    <h3  class="text-right"><span>{% price totals.month_total %}</span></h3>
                  </div>
                  <div id="2_month_total" class="d-none" >
                      <h3 class="text-right"><span>{% price totals.month2_total %}</span></h3>
                    </div>
          
          <!--<h3 id="all_total" class="text-right cart-total"><span>{% price_range total_with_shipping %}</span></h3>
          <h3 id="week_total" class="text-right d-non"><span>{% price totals.week_total %}</span></h3>
          <h3 id="2_weeks_total" class="text-right d-non"><span>{% price totals.week2_total %}</span></h3>
          <h3 id="month_total" class="text-right d-non"><span>{% price totals.month_total %}</span></h3>
          <h3 id="2_month_total" class="text-right d-non"><span>{% price totals.month2_total %}</span></h3>-->
          
          </div>
        {% endif %}
      {% endspaceless %}
    </div>
  </div>
  <div id="shipping_total" class="table__row d-none">
    <div class="row">
      <div class="col-8 cart__total__subtotal">
        <h3>{% trans "Доставка" context "Order subtotal" %}</h3>
        <!--<small>{% trans "total exluding shipment" context "Cart summary text" %}</small>-->
      </div>
      <div class="col-4">
        <h3 id="ship_week" class="text-right cart-subtotal">
          {% spaceless %}
            {% price  shipping_totals.ship_week %}
          {% endspaceless %}
        </h3>
        <h3 id="ship_2_weeks" class="text-right cart-subtotal">
            {% spaceless %}
              {% price  shipping_totals.ship_week2 %}
            {% endspaceless %}
          </h3>
          <h3 id="ship_month" class="text-right cart-subtotal">
              {% spaceless %}
                {% price  shipping_totals.ship_month %}
              {% endspaceless %}
            </h3>
            <h3 id="ship_2_month" class="text-right cart-subtotal">
                {% spaceless %}
                  {% price  shipping_totals.ship_month2 %}
                {% endspaceless %}
              </h3>
      </div>
    </div>
  </div>
</div>
