{% extends "base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load staticfiles %}

{% block title %}{% trans "Checkout" context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block header %}
  <div class="container-fluid navbar__login">
    <div class="container">
      <p>{% trans "Easy and secure!" context "Checkout top message" %}</p>
    </div>
  </div>
  <header class="checkout__header">
    <div class="container">
      <a href="{% url 'home'%}">
        <svg data-src="{% static "images/logo-doc.svg" %}" height="38px" width="176px" />
      </a>
      <h1>{% trans "Checkout" context "Checkout title" %}</h1>
    </div>
  </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="row checkout">
    <div class="col-md-7">
      {% block forms %}{% endblock %}
    </div>
    <div class="col-md-5">
      <!-- <div id="cart-header" class="card-header checkout__review text-center">
            <ul class="nav nav-pills card-header-pills">
              <li value="week" class="nav-item">
                <a class="nav-link active" href="#">week</a>
              </li>
              <li value="2_weeks" class="nav-item">
                <a class="nav-link" href="#">2 weeks</a>
              </li>
              <li value="month" class="nav-item">
                <a class="nav-link" href="#">1 month</a>
              </li>
              <li value="2_month" class="nav-item">
                <a class="nav-link" href="#">2 month</a>
              </li>
            </ul>
          </div>-->
      <div style="margin-top: 0!important;" class="checkout__review">
        <h3 class="checkout__review__tittle">{% trans "Order review" context "Order review title" %}</h3>
       <!-- {% for line, line_total in cart_lines %}
          <div class="row">
            <div class="col-8">
              <p><strong>{{ line.variant.product }}</strong> x {{ line.quantity }}<br>
                <span class="checkout__review__variant">{{ line.variant }}</span></p>
            </div>
            <div class="col-4">
              <p class="float-right">
                {% price line_total %}
              </p>
            </div>
          </div>
        {% endfor %}-->
        {% if totals.week_total > zero %}
        <h3 class="checkout__review__tittle">{% trans "Недельный заказ" context "Order review title" %}</h3>
        <div class="row checkout__review__section">
          <div class="col-8">
            <p>{% trans "Subtotal" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
              {% price totals.week_total %}
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-8">
            <p>{% trans "Shipment" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
                {% price ship_totals.ship_week %}
            </p>
          </div>
        </div>
        {% endif %}
        {% if totals.week2_total > zero %}
        <h3 class="checkout__review__tittle">{% trans "2-х недельный заказ" context "Order review title" %}</h3>
        <div class="row checkout__review__section">
          <div class="col-8">
            <p>{% trans "Subtotal" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
              {% price totals.week2_total %}
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-8">
            <p>{% trans "Shipment" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
                {% price ship_totals.ship_week2 %}
            </p>
          </div>
        </div>
        {% endif %}
        {% if totals.month_total > zero %}
        <h3 class="checkout__review__tittle">{% trans "Месячный заказ" context "Order review title" %}</h3>
        <div class="row checkout__review__section">
          <div class="col-8">
            <p>{% trans "Subtotal" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
              {% price totals.month_total %}
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-8">
            <p>{% trans "Shipment" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
                {% price ship_totals.ship_month %}
            </p>
          </div>
        </div>
        {% endif %}
        {% if totals.month2_total > zero %}
        <h3 class="checkout__review__tittle">{% trans "2-х месячный заказ" context "Order review title" %}</h3>
        <div class="row checkout__review__section">
          <div class="col-8">
            <p>{% trans "Subtotal" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
              {% price totals.month2_total %}
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-8">
            <p>{% trans "Shipment" context "Order review section" %}</p>
          </div>
          <div class="col-4">
            <p class="float-right">
                {% price ship_totals.ship_month2 %}
            </p>
          </div>
        </div>
        {% endif %}
        
        {% if cart_are_taxes_handled %}
          <div class="row checkout__review__section">
            <div class="col-8">
              {% if site.settings.display_gross_prices %}
                <p>{% trans "Taxes (included)" context "Order review section title" %}</p>
              {% else %}
                <p>{% trans "Taxes" context "Order review section title" %}</p>
              {% endif %}
            </div>
            <div class="col-4">
              <p class="float-right">{% price cart_total.tax %}</p>
            </div>
          </div>
        {% endif %}
        <div class="row checkout__review__section">
          <div class="col-12">
            <h3>{% trans "Promo code" context "Order review section title" %}</h3>
            {% include "checkout/snippets/voucher_form.html" with checkout=checkout form=voucher_form %}
          </div>
        </div>
       <!-- <div class="row checkout__review__section">
          <div class="col-8">
            <h3>{% trans "Total" context "Order review section title" %}</h3>
          </div>
          <div class="col-4">
            <h3 class="float-right">{% price cart_total.gross %}</h3>
          </div>
        </div>-->
      </div>
    </div>
  </div>
{% endblock content %}
