{% extends "base.html" %}
{% load i18n %}
{% load get_thumbnail from product_images %}
{% load price from taxed_prices %}
{% load staticfiles %}

{% block title %}{% trans "Your cart" context "Cart page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="{% url 'home' %}">{% trans "Home" context "Main navigation item" %}</a></li>
    <li><a rel="nofollow" href="{% url 'cart:index' %}">{% trans "Cart" context "Cart breadcrumb" %}</a></li>
  </ul>
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="alert alert-success remove-product-alert d-none">
    {% trans "Product has been removed from cart" context "Cart message" %}
    <button type="button" class="close close-msg" aria-hidden="true">&times;</button>
  </div>
  
  <div class="card" id="cart_header">
    <div class="card-header text-center">
      <ul class="nav nav-pills card-header-pills">
        <li value="all" class="nav-item">
            <a class="nav-link active" href="#">Все</a>
        </li>
        <li value="week" class="nav-item">
          <a class="nav-link" href="#">1 Неделя</a>
        </li>
        <li value="2_weeks" class="nav-item">
          <a class="nav-link" href="#">2 Недели</a>
        </li>
        <li value="month" class="nav-item">
          <a class="nav-link" href="#">1 Месяц</a>
        </li>
        <li value="2_month" class="nav-item">
          <a class="nav-link" href="#">2 Месяца</a>
        </li>
        
      </ul>
    </div>
    <div class="card-body">
    
    <div class="cart">
    {% if cart_lines %}
      <div class="table__header d-none d-md-block">
        <div class="row">
          <div class="col-md-7">
            <small>{% trans "Product" context "Cart table header" %}</small>
          </div>
          <div class="col-md-3">
            <small>{% trans "Quantity" context "Cart table header" %}</small>
          </div>
          <div class="col-md-2 text-right">
            <small>{% trans "Price" context "Cart table header" %}</small>
          </div>
        </div>
      </div>
      {% for line in cart_lines %}
        <div class="cart__line{% if forloop.last %} last{% endif %} table__row">
          <div class="row">
            <div class="col-7 cart__line__product">
              <a class="link--clean" href="{{ line.variant.get_absolute_url }}">
                <img class="lazyload lazypreload" data-src="{% get_thumbnail line.variant.product.images.first.image method="crop" size="60x60" %}"
                     data-srcset="{% get_thumbnail line.variant.product.images.first.image method="crop" size="60x60" %} 1x, {% get_thumbnail line.variant.product.images.first.image method="crop" size="120x120" %} 2x"
                     alt="">
                <p>{{ line.variant.product }}<br><small id="subtype_small" style="color: brown!important;">{{ line.subtype }}</small>
                  <small id="variant_small" class="d-none">{{ line.variant }}</small></p>
              </a>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="cart__line__quantity col-md-7 col-12">
                  <form autocomplete="off" role="form" action="{% url "cart:update-line" variant_id=line.variant.pk %}" method="post" class="form-cart">
                    <div class="{% if form.quantity.errors %} has-error{% endif %}" tabindex="-1">
                      {{ line.form.quantity }}
                    </div>
                    <div class="d-none">
                      {{ line.form.subtype }}
                    </div>
                    {% csrf_token %}
                  </form>
                  <span class="cart-item-delete">
                    <svg data-src="{% static "images/delete.svg" %}" height="20px" width="20px" />
                  </span>
                  <small class="cart__line__quantity-error text-danger"> </small>
                </div>
                <div class="cart-item-price col-md-5 col-12" data-product-id="{{ line.variant.pk }}">
                  <p class="text-right">
                    {% price line.get_total %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="cart__subtotal">
        {% include 'checkout/_subtotal_table.html' %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="{% url "checkout:login" %}" class="btn primary float-right cart__submit">
            {% trans "Checkout" context "Cart primary action" %}
          </a>
        </div>
      </div>
    {% else %}
      <div class="cart__empty" style="padding-top: 4em">
       <!-- <img class="lazyload lazypreload" data-src="{% static 'images/empty-cart-bg.png' %}" data-srcset="{% static 'images/empty-cart-bg.png' %} 1x, {% static 'images/empty-cart-bg2x.png' %} 2x">-->
        <h2>{% trans "There are no products in your shopping cart." context "Empty cart message" %}</h2>
        <a href="{% url 'home' %}" class="btn primary">{% trans "Check out our sales" context "Empty cart link" %}</a>
      </div>
    {% endif %}
</div>
<div id="empty_sub" class="cart__empty d-none" style="padding-top: 4em">
  <!-- <img class="lazyload lazypreload" data-src="{% static 'images/empty-cart-bg.png' %}" data-srcset="{% static 'images/empty-cart-bg.png' %} 1x, {% static 'images/empty-cart-bg2x.png' %} 2x">-->
   <h2>{% trans "There are no products in this sub." context "Empty cart message" %}</h2>
   <a href="{% url 'home' %}" class="btn primary">{% trans "Check out our sales" context "Empty cart link" %}</a>
 </div>
</div>
</div>
{% endblock content %}
