{% extends "checkout/details.html" %}
{% load staticfiles %}
{% load i18n %}
{% load placeholder %}

{% block title %}{% trans "Login" context "Checkout login page title" %} — {{ block.super }}{% endblock %}

{% block content %}
  <div class="row checkout__login">
    <div class="col-12 col-md-6">
      <div class="checkout__login__continue">
        <h3>{% trans "New customer?" context "Checkout login page title" %}</h3>
        <!--<img class="checkout-pirate lazyload lazypreload"
             data-src="{% static 'images/login-bg.png' %}"
             data-srcset="{% static 'images/login-bg.png' %} 1x, {% static 'images/login-bg2x.png' %} 2x">-->
        <p>
          <a href="{% url 'account:signup' %}" class="btn secondary narrow">
            {% trans "Signup" context "Checkout login page new users action" %}
          </a>
        </p>
      <!--  <small>{% trans "Registration is not required!" context "Checkout login page new users message" %}</small>-->
      </div>
    </div>
    <div class="col-12 col-md-6 checkout__login__form">
      {% url "checkout:index" as checkout_url %}
      <h3>{% trans "Existing customer? Log in." context "Checkout login form title" %}</h3>
      {% include "account/partials/login_form.html" with REDIRECT_FIELD_VALUE=checkout_url %}
    </div>
  </div>
{% endblock %}
