{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}

{% block forms %}
  <form method="post" autocomplete="on" novalidate>
    {% csrf_token %}
    <h2>{% trans "Billing address" context "Checkout summary without shipping title" %}</h2>
    {% if request.user.is_authenticated %}
      {% include "checkout/snippets/addresses_form.html" with addresses_form=addresses_form addresses=additional_addresses address_form=address_form only %}
    {% else %}
      {% bootstrap_form user_form %}
      {% include "account/snippets/address_form.html" with address_form=address_form only %}
    {% endif %}
    <h2>{% trans "Добавить заметку к вашему заказу" context "Checkout summary without shipping note title" %}</h2>
    {% bootstrap_form note_form show_label=False %}
    <p class="text-md-right">
      <button type="submit" class="btn primary">
        {% trans "Обновить подписку" context "Checkout summary without shipping action" %}
      </button>
    </p>
  </form>
{% endblock forms %}
