{% load discount_as_negative from voucher %}
{% load i18n %}
{% load i18n_address_tags %}
{% load placeholder %}
{% load price from taxed_prices %}
{% load product_first_image from product_images %}
{% load i18n %}
{% load staticfiles %}

{% if order.user == user %}
  <div class="card order-details__addresses">
    <div class="row card-body">
      {% if order.is_shipping_required %}
        <div class="col-6">
          <h3>
            {% trans "Shipping address" context "Order details address title" %}
          </h3>
          {% format_address order.shipping_address %}
        </div>
      {% endif %}
      <div class="col-6">
        <h3 class="card-title">
          {% trans "Billing address" context "Order details address title" %}
        </h3>
        {% format_address order.billing_address %}
      </div>
    </div>
  </div>
{% endif %}
<div class="card" style="margin-bottom: 30px; margin-top: 30px">
  <div id="cart_header_table" class="card-header text-center">
    <ul class="nav nav-pills card-header-pills">
      {% if order.week_total != zero %}
      <li value="week" class="nav-item">
        <a class="nav-link" href="#">1 Неделя</a>
      </li>
      {% endif %}
      {% if order.week2_total != zero %}
      <li value="2_weeks" class="nav-item">
        <a class="nav-link" href="#">2 Недели</a>
      </li>
      {% endif %}
      {% if order.month_total != zero %}
      <li value="month" class="nav-item">
        <a class="nav-link" href="#">1 Месяц</a>
      </li>
      {% endif %}
      {% if order.month2_total != zero %}
      <li value="2_month" class="nav-item">
        <a class="nav-link" href="#">2 Месяца</a>
      </li>
      {% endif %}
    </ul>
  </div>

<div class="card-body" style="padding-top: 0px">
<div class="table__header order-details__table-header d-none d-sm-block">
  <div class="row">
    <div class="col-md-8">
      <small>
        {% trans "Product" context "Order details column title" %}
      </small>
    </div>
    <div class="col-md-2 text-right">
      <small>
        {% trans "Quantity" context "Order details column title" %}
      </small>
    </div>
    <div class="col-md-2 text-right">
      <small>
        {% trans "Price" context "Order details column title" %}
      </small>
    </div>
  </div>
</div>

{% for line in order %}
  <div class="table__row order-details__product{% if forloop.last %} order-details__last-row{% endif %}">
    <div class="row">
      <div class="col-md-8">
        <a class="link--clean" href="{% if line.variant %}{{ line.variant.get_absolute_url }}{% endif %}">
          <img data-src="{% product_first_image line.variant.product size="60x60" method="crop" %}"
                data-srcset="{% product_first_image line.variant.product size="60x60" method="crop" %} 1x, {% product_first_image line.variant.product size="120x120" method="crop" %} 2x"
                class="float-left lazyload lazypreload"
                src="{% placeholder size=60 %}">
          <span class="order-details__product__description">{{ line.product_name }}</span>
        </a>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6 col-12">
            <p class="float-right">x {{ line.quantity }}</p>
          </div>
          <div id="subtype_prop" value="{{ line.subtype }}" class="d-none">
          </div>
          <div class="col-md-6 col-12">
            <p class="float-right">
              {% price line.get_total display_gross=order.display_gross_prices %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>
        {% trans "Subtotal" context "Order details subtotal row text" %}
      </p>
    </div>
    <div id="subtotals" class="col-4">
      <p id="week_total" class="float-right d-none">
        {% price order.week_total %}
      </p>
      <p id="2_weeks_total" class="float-right d-none">
          {% price order.week2_total %}
        </p>
        <p id="month_total" class="float-right d-none">
            {% price order.month_total %}
          </p>
          <p id="2_month_total" class="float-right d-none">
              {% price order.month2_total %}
            </p>
      <br>
    </div>
  </div>
</div>

  <div class="order-details__total">
    <div class="row">
      <div class="col-8 order-details__table-footer">
        <p>
          {% trans "Shipping" context "Order details shipment row text" %}
        </p>
      </div>
      <div id="ship_totals" class="col-4">
        <p id="ship_week" class="float-right d-none">
          {% price order.ship_week %}
        </p>
        <p id="ship_2_weeks" class="float-right d-none">
            {% price order.ship_week2 %}
          </p>
          <p id="ship_month" class="float-right d-none">
              {% price order.ship_month %}
            </p>
            <p id="ship_2_month" class="float-right d-none">
                {% price order.ship_month2 %}
              </p>
      </div>
    </div>
  </div>

{% if order.discount_amount %}
<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>{{ order.discount_name }}</p>
    </div>
    <div class="col-4">
      <p class="float-right">
        {% discount_as_negative order.discount_amount html=True %}
      </p>
    </div>
  </div>
</div>
{% endif %}

<!--<div class="table__row">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <p>
        {% if order.display_gross_prices %}
          {% trans "Taxes (included)" context "Order details taxes text" %}
        {% else %}
          {% trans "Taxes" context "Order details taxes text" %}
        {% endif %}
      </p>
    </div>
    <div class="col-4">
      <p class="float-right">{% price order.total.tax %}</p>
    </div>
  </div>
</div>-->

<!--<div class="order-details__total">
  <div class="row">
    <div class="col-8 order-details__table-footer">
      <div class="total">
        <h3>{% trans "Total" context "Order details total text" %}</h3>
      </div>
    </div>
    <div class="col-4">
      <p class="float-right">
        {% price order.total.gross %}
      </p>
    </div>
  </div>
</div>-->


{% for fulfillment in fulfillments %}
  <h2 class="order-details__header">
    {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Order details fulfillment title" %}
      Fulfillment #{{ fulfillment }}
    {% endblocktrans %}
  </h2>

  <div class="table__header order-details__table-header d-none d-sm-block">
    <div class="row">
      <div class="col-md-9">
        <small>
          {% trans "Product" context "Order details column title" %}
        </small>
      </div>
      <div class="col-md-3 text-right">
        <small>
          {% trans "Quantity" context "Order details column title" %}
        </small>
      </div>
    </div>
  </div>
  {% for line in fulfillment %}
    <div class="table__row fulfillment__row order-details__product{% if forloop.last %} order-details__last-row{% endif %}">
      <div class="row">
        <div class="col-md-6 col-9">
          <a class="link--clean" href="{% if line.variant.product %}{{ line.variant.product.get_absolute_url }}{% endif %}">
            <span class="order-details__product__description">{{ line.order_line.product_name }}</span>
          </a>
        </div>
        <div class="col-md-6 col-3">
          <p class="float-right">x {{ line.quantity }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if fulfillment.tracking_number %}
    <div class="order-details__total">
      <div class="row">
        <div class="col-4 order-details__table-footer">
          <p>{% trans "Tracking number" context "Fulfillment tracking number details" %}</p>
        </div>
        <div class="col-8">
          <p class="float-right">{{ fulfillment.tracking_number }}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
</div>