{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap4 %}

{% block title %}
  {% blocktrans trimmed context "Order details page title" %}
    Order {{ order }}
  {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {% if order.user == user %}
    <ul class="breadcrumbs list-unstyled">
      <li>
        <a href="{% url 'home'%}">
          {% trans "Home" context "Main navigation item" %}
        </a>
      </li>
      <li>
        <a href="{% url "account:details" %}">
          {% trans "Your account" context "Main navigation item" %}
        </a>
      </li>
      <li>
        <a href="{{ order.get_absolute_url }}">
          {% blocktrans trimmed context "Order details breadcrumb" %}
            Order {{ order }}
          {% endblocktrans %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="noindex, nofollow">
{% endblock meta_tags %}

{% block content %}
  {# This view is available by just knowing url,          #}
  {# so we don't show all details (like shipping address) #}
  {# unless current user is owner of the order.           #}

  <div class="row order-details">
    <div class="col-lg-10 m-auto">
      <h2 class="order-details__header">
        {% blocktrans trimmed with order_status=order.get_status_display context "Order detail text" %}
          Order {{ order }}: 
        {% endblocktrans %}
        <a style="margin-left: 30px; margin-bottom: 10px" href="{% url "cart:index" %}" class="btn btn-primary ">
            {% trans "Редактировать" context "Recent orders link text" %}
        </a>
      </h2>
     
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">График Доставки</h5>
            <h6 style="color: brown!important;">
                Время: {{ order.get_delivery_time_display }}
              </h6>
              <h6 style="color: brown!important;">
                День недели: {{ order.get_week_day_display }}
              </h6>
        
             <!-- <button style="margin-top: 15px" href="{{ order.get_absolute_url }}payment" class="btn btn-primary">
                  {% trans "Edit" context "Recent orders link text" %}
              </button>-->
        </div>
      </div>
     
      <!--{% if not order.is_fully_paid %}
        {% if order.is_pre_authorized %}
          <a href="{% url "order:payment" token=order.token %}" class="btn btn-link">
            {% trans "Payment details" context "Order details link text" %}
          </a>
        {% else %}
          <a href="{% url "order:payment" token=order.token %}" class="btn primary">
            {% trans "Pay for order" context "Order details primary action" %}
          </a>
        {% endif %}
      {% endif %}-->
      {% include "order/_ordered_items_table.html" %}
      <div class="order-notes">
      {% if notes %}
        <h2 class="order-notes__header">{% trans "Заметки" context "Order notes list" %}</h2>
        {% for note in notes %}
          <small>
            {% if note.user %}
              {% if note.user == user %}
                {% blocktrans with date=note.date %}
                  {{ date }} 
                {% endblocktrans %}
              {% elif note.user.is_staff %}
                {% trans 'staff' context 'Order note author is staff' as note_author_staff %}
                {% blocktrans with author=note_author_staff date=note.date %}
                  {{ date }} by <span class="text-muted">{{ author }}</span>
                {% endblocktrans %}
              {% else %}
                {% blocktrans with author=note.user date=note.date %}
                  {{ date }} by {{ author }}
                {% endblocktrans %}
              {% endif %}
            {% else %}
              {% blocktrans with date=note.date %}
                {{ date }} by anonymous customer
              {% endblocktrans %}
            {% endif %}
          </small>
          <p>{{ note.content }}</p>
        {% endfor %}
      {% endif %}
      {% if order.is_open %}
        <form method="post" class="form-group">
          {% csrf_token %}
          {% bootstrap_form note_form display_labels=False %}
          <input type="submit" value="Отправить" class="btn primary" />
        </form>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
