{% extends "base.html" %}

{% load bootstrap_form from bootstrap4 %}
{% load bootstrap_field from bootstrap4 %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% blocktrans trimmed context "Payment details page title" %}
    shipping
  {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {% if order.user == user %}
    <ul class="breadcrumbs list-unstyled">
      <li>
        <a href="{% url 'home' %}">
          {% trans "Home" context "Main navigation item" %}
        </a>
      </li>
      <li>
        <a href="{% url "account:details" %}">
          {% trans "Your account" context "Main navigation item" %}
        </a>
      </li>
      <li>
        <a href="{{ order.get_absolute_url }}">
          {% blocktrans trimmed context "Payment details breadcrumb" %}
            Shipping details
          {% endblocktrans %}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock breadcrumb %}

{% block content %}
  <div class="row checkout">
    <div class="col-lg-10 m-auto">
      {% if order.user == user  %}
        {% if order.billing_address %}
         
          {% if payment_form %}
            <h1>
              {% blocktrans trimmed context "Payment details title" %}
              Сведения о доставке
              {% endblocktrans %}
            </h1>
            <form method="post" action="{% url "order:payment" token=order.token %}" class="payment-method-form radio">
              {% csrf_token %}
              {% bootstrap_field shipping_form.method %}
              {% bootstrap_field shipping_form.delivery_time %}
              {% bootstrap_field shipping_form.week_day %}
              {% block form_submit %}
                <button type="submit" class="btn primary">
                  {% trans "Завершить" context "Payment details primary action" %}
                </button>
              {% endblock %}
            </form>
          {% else %}
            <p>{% trans "You've authorized transaction. Order is in processing" context "Payment details text" %}</p>
          {% endif %}
        {% endif %}
      {% endif %}
      {% include 'order/_ordered_items_table.html' %}
    </div>
  </div>
{% endblock content %}
