{% extends "base.html" %}

{% load bootstrap_form from bootstrap4 %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% blocktrans trimmed context "Payment details page title" %}
    Pay for order
  {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  {% if order.user == user %}
    <ul class="breadcrumbs list-unstyled">
      <li>
        <a href="{% url 'home' %}">
          {% trans "Home" context "Main navigation item" %}
        </a>
      </li>
      <li>
        <a href="{% url "account:details" %}">
          {% trans "Your account" context "Main navigation item" %}
        </a>
      </li>
      <li>
       
      </li>
    </ul>
  {% endif %}
{% endblock breadcrumb %}

{% block content %}
  <div class="row checkout">
    <div class="col-lg-10 m-auto">
    
    </div>
  </div>
  {% include 'order/_ordered_items_table.html' %}

{% endblock content %}
