@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "components/breadcrumbs";
@import "components/buttons";
@import "components/cards";
@import "components/cart-dropdown";
@import "components/filters";
@import "components/footer";
@import "components/forms";
@import "components/header";
@import "components/labels";
@import "components/loader";
@import "components/pagination";
@import "components/table";
@import "components/tabs";
@import "components/typography";
@import "components/variant-picker";
@import "components/calendar";

@import "layouts/account";
@import "layouts/cart";
@import "layouts/checkout";
@import "layouts/home";
@import "layouts/login";
@import "layouts/no-results";
@import "layouts/order-details";
@import "layouts/product-list";
@import "layouts/product-page";
@import "layouts/styleguide";

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
